* {
    font-size: 64px;
    font-weight: bold;
    font-family: "Consolas";
    color: #6fffe9;
  }
  
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #0B132B;
    box-sizing: border-box;
    border-image: linear-gradient(to bottom, #0B132B 0 100%, #6fffe9 100% 100%) 1;
    border-style: none solid;
    border-width: 24px;
    border-radius: 4px;
}

.Container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.TimerTextContainer{
    width: 33.33333%;
    text-align: left;
}

.TimerText{
    padding-left: 16px;
}

.Timer{
    animation-name: TimerAnimation;
    animation-duration: 20s;
}

@keyframes TimerAnimation {
    0%{border-image: linear-gradient(to bottom, #0B132B 0 0%, #6fffe9 10% 100%) 1;}
    10%{border-image: linear-gradient(to bottom, #0B132B 0 10%, #6fffe9 20% 100%) 1;}
    20%{border-image: linear-gradient(to bottom, #0B132B 0 20%, #6fffe9 30% 100%) 1;}
    30%{border-image: linear-gradient(to bottom, #0B132B 0 30%, #6fffe9 40% 100%) 1;}
    40%{border-image: linear-gradient(to bottom, #0B132B 0 40%, #6fffe9 50% 100%) 1;}
    50%{border-image: linear-gradient(to bottom, #0B132B 0 50%, #6fffe9 60% 100%) 1;}
    60%{border-image: linear-gradient(to bottom, #0B132B 0 60%, #6fffe9 70% 100%) 1;}
    70%{border-image: linear-gradient(to bottom, #0B132B 0 70%, #6fffe9 80% 100%) 1;}
    80%{border-image: linear-gradient(to bottom, #0B132B 0 80%, #6fffe9 90% 100%) 1;}
    90%{border-image: linear-gradient(to bottom, #0B132B 0 90%, #6fffe9 100% 100%) 1;}
    100%{border-image: linear-gradient(to bottom, #0B132B 0 100%, #6fffe9 100% 100%) 1;}
}


.TopContainer {
    height: 180px;
    width: 98%;
    padding: 1% 1% 0% 1%;
    text-align: center;
    display: flex;
}

.TopLeftFiller{
    width: 33.33333%
}

.TitleContainer {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.TitleContainerInner{
    background: #6fffe9;
    border-radius: 25px;
    padding: 4px 32px;
}
  

.ScoreContainer {
    text-align: right;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
}

.GameContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RuleText{
    padding: 8px 16px;
}

.RuleContainer {
    min-width: 250px;
    border: 4px solid #6fffe9;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CorrectAnswersContainer{
    width: 400px;
    overflow: hidden;
    padding-bottom: 32px;
}

.CorrectAnswers {
    white-space: nowrap;
}

.ScrollableText {
    display: inline-block;
    padding-left: 100%;
    animation: ScrollableText 20s linear infinite;
}

@keyframes ScrollableText{
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.ResultContainer {
    background-color: #6fffe9;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-items: center;
    justify-content: center;
    border-radius: 25px;
}

.ResultText {
    color:#0B132B;
    white-space: nowrap;
    text-align: center;
}

.ResultingPlaceContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.ResultingPlace {
    padding: 4px;
    border-radius: 8px;
    color: #0b132b !important;;
    font-size: 24px;
}

.WinnerContainer {
    padding: 8px 16px;
}

.SinglePlaceContainer{
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 0px 8px;
    justify-items: center;
    justify-content: center;
}

.ResultText {
    color: #0b132b !important;;
    white-space: nowrap;
    text-align: center;
}

.RestartContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.Restart {
    background-color: #6fffe9;
    color: #0B132B;
    margin: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
}

.Title {
    color: #0B132B;
    font-size:  96px;
}

.GuessContainer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MobileGuess{
    border-radius: 25px;
    color: #0B132B;
    text-align: center;
}

.HiddenInput {
    opacity:0;
    filter:alpha(opacity=0);
    height: 0px;
    width: 0px;
}

.Hidden {
    display: none;
}