<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="src/css/index.css">
</head>

<body>

    <div id="BaseLobby" class="LobbyButtonContainer">
        <div class="TitleContainer">
            <span class="Title">R*MATCH</span>
        </div>
        <div class="ButtonContainer">
            <button id="ClassicButton" class="LobbyButton">CLASSIC</button>
        </div>
        <div class="ButtonContainer">
            <button id="OnlineButton" class="LobbyButton">Online</button>
        </div>
        <div class="ButtonContainer">
            <input id="NicknameInput" class="LobbyInput" value="Guest"/>
        </div>
    </div>

    <div id="OnlineLobby" class="LobbyButtonContainer Hidden">
        <div class="TitleContainer">
            <span class="Title">R*MATCH</span>
        </div>
        <div class="ButtonContainer">
            <button id="ClassicButton" class="LobbyButton">Host</button>
        </div>
        <div class="ButtonContainer JoinElementsContainer">
            <div class="JoinContainer">
                <input class="LobbyButton JoinInput" placeholder="Join"/>
            </div>
            <div>
                <button class="LobbyButton">&gt;</button>
            </div>
        </div>
    </div>

</body>

<script src="dist/main-bundle.js"></script>