<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="src/css/multiplayer.css">
</head>

<body>
    <div class="PageContainer">
        <div id="SettingsContainer" class="SettingsContainer">
            <span class="SettingsText">Settings</span>
        </div>
        <div class = "MainContainer">
            <div class='TopContainer'>
                <div class="TopLeftFiller"></div>
                <div class="TitleContainer">
                    <div class="TitleContainerInner">
                        <span class="Title">R*MATCH</span>
                    </div>
                </div>
                <div class="RoundContainer">
                    <span id="Round">0</span>
                    <span id="AvailableRules">*</span>
                </div>
            </div>
            <div class="GameContainer">
                <div id="StartButtonContainer" class="StartButtonContainer Hidden">
                    <button id="StartButton" class="GameButton">Start</button>
                </div>
                <div id="RuleContainer" class="RuleContainer">
                    <span id="Rule">Waiting...</span>
                </div>
                <div class="GuessContainer">
                    <span class="Guess" id="Guess"></span>
                </div>
                <template id="PlayerTemplate">
                    <div class="PlayerTemplate PlayerTemplateSelected">
                        <span class="PlayerIdle">{name}</span>
                    </div>
                </template>
                <div id="PlayerContainer" class="PlayerContainer"></div>
                <div id="ResultContainer" class="ResultContainer Hidden">
                    <span class="ResultText">Winner!</span>
                    <div class="WinnerContainer">
                        <div class="SinglePlaceContainer SinglePlaceContainerHighlighted">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceOne">#1</span>
                            </div>
                            <div>
                                <span id="FirstPlace" class="ResultText"></span>
                            </div>
                        </div>
                        <div class="SinglePlaceContainer">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceTwo">#2</span>
                            </div>
                            <div>
                                <span id="SecondPlace" class="ResultText"></span>
                            </div>
                        </div>
                        <div id="ThirdPlaceContainer" class="SinglePlaceContainer Hidden">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceThree">#3</span>
                            </div>
                            <div>
                                <span id="ThirdPlace" class="ResultText"></span>
                            </div>
                        </div>
                    </div>
                    <div class="RestartContainer">
                        <button id="Restart" class="Restart">Rematch!</button>
                    </div>
                </div>

                <input id="HiddenInput" class="HiddenInput " pattern="[a-zA-Z]+" disabled/>
            </div> 
        </div> 
    </div>
</body>

<script src="dist/multi-bundle.js"></script>