<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="src/css/multiplayer.css">
</head>

<body>
    <div class="PageContainer">
        <div id="SettingsContainer" class="SettingsContainer">
            <span class="SettingsText">Settings</span>
            <div class="SingleSetting">
                <div class='SettingsHeaderContainer'>
                    <span class="SettingsHeader">Lives</span>
                </div>
                <div class="LivesContainer">
                    <img id="OneLife" class="Life" src="./src/assets/heart_full.svg"/>
                    <img id="TwoLife" class="Life" src="./src/assets/heart_empty.svg"/>
                    <img id="ThreeLife" class="Life" src="./src/assets/heart_empty.svg"/>
                </div>
            </div>

            <div class="SingleSetting">
                <div class="SettingsHeaderContainer">
                    <span class="SettingsHeader">Difficulty</span>
                </div>
                <span class="SettingExplanation">Minimum number of words that must match a rule. (higher = easier)</span>
                <div class="DifficultyContainer">
                    <div class="DifficultyRangeContainer">
                        <input id="DifficultyRange" class="DifficultyRange" type="range" min="10" max="99" value="50" disabled/>
                    </div>
                    <div class="DifficultyNumberContainer">
                        <span id="DifficultyNumber" class="DifficultyNumber">50</span>
                    </div>
                </div>
            </div>

            <div class="SingleSetting">
                <div class="SettingsHeaderContainer">
                    <span class="SettingsHeader">Rule Persists</span>
                </div>
                <span class="SettingExplanation">Whether a rule persists until someone gets a match.</span>
                <div class="RulePersistsContainer">
                    <input id="RulePersists" class="RulePersists" type="checkbox" disabled/>
                </div>
            </div>

        </div>
        <div class = "MainContainer">
            <div class='TopContainer'>
                <div class="TopLeftFiller"></div>
                <div class="TitleContainer">
                    <div class="TitleContainerInner">
                        <span class="Title">R*MATCH</span>
                    </div>
                </div>
                <div class="RoundContainer">
                    <span id="Round">0</span>
                    <span id="AvailableRules">*</span>
                </div>
            </div>
            <div class="GameContainer">
                <div id="StartButtonContainer" class="StartButtonContainer Hidden">
                    <button id="StartButton" class="GameButton">Start</button>
                </div>
                <div id="RuleContainer" class="RuleContainer">
                    <span id="Rule">Waiting...</span>
                </div>
                <div class="GuessContainer">
                    <span class="Guess" id="Guess"></span>
                </div>
                <div id="PlayerContainer" class="PlayerContainer"></div>
                <div id="ResultContainer" class="ResultContainer Hidden">
                    <span class="ResultText">Winner!</span>
                    <div class="WinnerContainer">
                        <div class="SinglePlaceContainer SinglePlaceContainerHighlighted">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceOne">#1</span>
                            </div>
                            <div>
                                <span id="FirstPlace" class="ResultText"></span>
                            </div>
                        </div>
                        <div class="SinglePlaceContainer">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceTwo">#2</span>
                            </div>
                            <div>
                                <span id="SecondPlace" class="ResultText"></span>
                            </div>
                        </div>
                        <div id="ThirdPlaceContainer" class="SinglePlaceContainer Hidden">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceThree">#3</span>
                            </div>
                            <div>
                                <span id="ThirdPlace" class="ResultText"></span>
                            </div>
                        </div>
                    </div>
                    <div class="RestartContainer">
                        <button id="Restart" class="Restart">Rematch!</button>
                    </div>
                </div>

                <input id="HiddenInput" class="HiddenInput " pattern="[a-zA-Z]+" disabled/>
            </div> 
        </div> 
    </div>
</body>

<template id="LifeTemplate">
    <img src="./src/assets/heart_full_dark.svg" height=32px width=32px/>
</template>

<template id="PlayerTemplate">
    <div class="PlayerTemplate PlayerTemplateSelected">
        <div id="PlayerLivesContainer" class="PlayerLivesContainer">
        </div>
        <span class="PlayerSpan PlayerIdle">{name}</span>
    </div>
</template>

<script src="dist/multi-bundle.js"></script>