<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="src/css/multiplayer.css">
</head>

<body>
    <div class="PageContainer">
        <div id="SettingsContainer" class="SettingsContainer">
            <span class="SettingsText">Settings</span>
            <div class="SingleSetting">
                <div class='SettingsHeaderContainer'>
                    <span class="SettingsHeader">Lives</span>
                </div>
                <div class="LivesContainer">
                    <img id="OneLife" class="Life" src="./src/assets/heart_full.svg"/>
                    <img id="TwoLife" class="Life" src="./src/assets/heart_empty.svg"/>
                    <img id="ThreeLife" class="Life" src="./src/assets/heart_empty.svg"/>
                </div>
            </div>

            <div class="SingleSetting">
                <div class="SettingsHeaderContainer">
                    <span class="SettingsHeader">Difficulty</span>
                </div>
                <span class="SettingExplanation">Minimum number of words that must match a rule (higher = easier)</span>
                <div class="DifficultyContainer">
                    <div class="DifficultyRangeContainer">
                        <input id="DifficultyRange" class="DifficultyRange" type="range" min="10" max="99" value="50" disabled/>
                    </div>
                    <div class="DifficultyNumberContainer">
                        <span id="DifficultyNumber" class="DifficultyNumber">50</span>
                    </div>
                </div>
            </div>

            <div class="SingleSetting">
                <div class="SettingsHeaderContainer">
                    <span class="SettingsHeader">Rule Persists</span>
                </div>
                <span class="SettingExplanation">Whether a rule persists until someone gets a match</span>
                <div class="SettingInputContainer">
                    <input id="RulePersists" class="SettingInput" type="checkbox" disabled/>
                </div>
            </div>

            <div class="SingleSetting">
                <div class="SettingsHeaderContainer">
                    <span class="SettingsHeader">Teams</span>
                </div>
                <span class="SettingExplanation">Last team standing</span>
                <div class="SettingInputContainer">
                    <input id="Teams" class="SettingInput" type="checkbox" disabled/>
                </div>
            </div>

            <div class="SingleSetting">
                <div class="SettingsHeaderContainer">
                    <span class="SettingsHeader">Wildcard Mode</span>
                </div>
                <span class="SettingExplanation">A twist on the classic game</span>
                <div class="SettingInputContainer">
                    <input id="WildcardMode" class="SettingInput" type="checkbox" disabled/>
                </div>
            </div>

        </div>
        <div class = "MainContainer">
            <div class='TopContainer'>
                <div class="TopLeftFiller"></div>
                <div class="TitleContainer">
                    <div class="TitleContainerInner">
                        <span class="Title">R*MATCH</span>
                    </div>
                </div>
                <div class="RoundContainer">
                    <span id="Round">0</span>
                    <span id="AvailableRules">*</span>
                </div>
            </div>
            <div class="GameContainer">
                <div id="StartButtonContainer" class="StartButtonContainer Hidden">
                    <button id="StartButton" class="GameButton">Start</button>
                </div>
                <div id="RuleContainer" class="RuleContainer">
                    <span id="Rule">Waiting...</span>
                </div>
                <div class="GuessContainer">
                    <span class="Guess" id="Guess"></span>
                </div>
                <div id="PlayerContainer" class="PlayerContainer"></div>
                <div id="ResultContainer" class="ResultContainer Hidden">
                    <span class="ResultText">Winner!</span>
                    <div class="WinnerContainer">
                        <div class="SinglePlaceContainer SinglePlaceContainerHighlighted">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceOne">#1</span>
                            </div>
                            <div class="ScrollablePlaceContainer">
                                <span id="FirstPlace" class="ResultText"></span>
                            </div>
                        </div>
                        <div class="SinglePlaceContainer">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceTwo">#2</span>
                            </div>
                            <div class="ScrollablePlaceContainer">
                                <span id="SecondPlace" class="ResultText"></span>
                            </div>
                        </div>
                        <div id="ThirdPlaceContainer" class="SinglePlaceContainer Hidden">
                            <div class="ResultingPlaceContainer ResultText">
                                <span class="ResultingPlace ResultingPlaceThree">#3</span>
                            </div>
                            <div class="ScrollablePlaceContainer">
                                <span id="ThirdPlace" class="ResultText"></span>
                            </div>
                        </div>
                    </div>
                    <div class="RestartContainer">
                        <button id="Restart" class="Restart">Rematch!</button>
                    </div>
                </div>
                <input id="HiddenInput" class="HiddenInput " pattern="[a-zA-Z]+" disabled/>
            </div> 
            <div id="LetterContainer" class="LetterContainer Hidden">
                <span class="Letter UnusedLetter">A</span>
                <span class="Letter UnusedLetter">B</span>
                <span class="Letter UnusedLetter">C</span>
                <span class="Letter UnusedLetter">D</span>
                <span class="Letter UnusedLetter">E</span>
                <span class="Letter UnusedLetter">F</span>
                <span class="Letter UnusedLetter">G</span>
                <span class="Letter UnusedLetter">H</span>
                <span class="Letter UnusedLetter">I</span>
                <span class="Letter UnusedLetter">J</span>
                <span class="Letter UnusedLetter">K</span>
                <span class="Letter UnusedLetter">L</span>
                <span class="Letter UnusedLetter">M</span>
                <span class="Letter UnusedLetter">N</span>
                <span class="Letter UnusedLetter">O</span>
                <span class="Letter UnusedLetter">P</span>
                <span class="Letter UnusedLetter">Q</span>
                <span class="Letter UnusedLetter">R</span>
                <span class="Letter UnusedLetter">S</span>
                <span class="Letter UnusedLetter">T</span>
                <span class="Letter UnusedLetter">U</span>
                <span class="Letter UnusedLetter">V</span>
                <span class="Letter UnusedLetter">W</span>
                <span class="Letter UnusedLetter">X</span>
                <span class="Letter UnusedLetter">Y</span>
                <span class="Letter UnusedLetter">Z</span>
            </div>
        </div> 
    </div>
</body>

<template id="LifeTemplate">
    <img src="./src/assets/heart_full_dark.svg" height=32px width=32px/>
</template>

<template id="PlayerTemplate">
    <div class="PlayerTemplate PlayerTemplateSelected">
        <div class="TeamChoiceContainer Hidden">
            <span id="TeamChoice0" class="TeamChoice TeamChoice0 TeamChoiceSelected"></span>
            <span id="TeamChoice1" class="TeamChoice TeamChoice1"></span>
            <span id="TeamChoice2" class="TeamChoice TeamChoice2"></span>
            <span id="TeamChoice3" class="TeamChoice TeamChoice3"></span>
            <span id="TeamChoice4" class="TeamChoice TeamChoice4"></span>
            <span id="TeamChoice5" class="TeamChoice TeamChoice5"></span>
            <span id="TeamChoice6" class="TeamChoice TeamChoice6"></span>
            <span id="TeamChoice7" class="TeamChoice TeamChoice7"></span>
        </div>
        <div id="PlayerLivesContainer" class="PlayerLivesContainer">
        </div>
        <span class="PlayerSpan PlayerIdle">{name}</span>
    </div>
</template>

<script src="dist/multi-bundle.js"></script>