* {
    font-size: 64px;
    font-weight: bold;
    font-family: "Consolas";
    color: #6fffe9;
  }
  
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #0B132B;
    box-sizing: border-box;
    border-image: linear-gradient(to bottom, #0B132B 0 100%, #6fffe9 100% 100%) 1;
    border-style: none solid;
    border-width: 24px;
    border-radius: 4px;
}

.Timer{
    animation-name: TimerAnimation;
    animation-duration: 20s;
}

@keyframes TimerAnimation {
    0%{border-image: linear-gradient(to bottom, #0B132B 0 0%, #6fffe9 10% 100%) 1;}
    10%{border-image: linear-gradient(to bottom, #0B132B 0 10%, #6fffe9 20% 100%) 1;}
    20%{border-image: linear-gradient(to bottom, #0B132B 0 20%, #6fffe9 30% 100%) 1;}
    30%{border-image: linear-gradient(to bottom, #0B132B 0 30%, #6fffe9 40% 100%) 1;}
    40%{border-image: linear-gradient(to bottom, #0B132B 0 40%, #6fffe9 50% 100%) 1;}
    50%{border-image: linear-gradient(to bottom, #0B132B 0 50%, #6fffe9 60% 100%) 1;}
    60%{border-image: linear-gradient(to bottom, #0B132B 0 60%, #6fffe9 70% 100%) 1;}
    70%{border-image: linear-gradient(to bottom, #0B132B 0 70%, #6fffe9 80% 100%) 1;}
    80%{border-image: linear-gradient(to bottom, #0B132B 0 80%, #6fffe9 90% 100%) 1;}
    90%{border-image: linear-gradient(to bottom, #0B132B 0 90%, #6fffe9 100% 100%) 1;}
    100%{border-image: linear-gradient(to bottom, #0B132B 0 100%, #6fffe9 100% 100%) 1;}
}

.PointsContainer{
    display: flex;
    width: 100%;
    justify-content: left;
}

.Points{
    color: #0B132B;
    font-size: 32px;
}

.PageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.SettingsContainer {
    width: 400px;
    height: 100%;
    border-radius: 25px;
    border: solid #6fffe9 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.SettingsText{
    text-align: center;
    font-size: 36px;
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-color:#6fffe9;
}

.SingleSetting{
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
}

.SettingsHeader {
    padding: 4px;
    font-size: 28px;
}

.SettingsHeaderContainer {
    background-color: #1C2541;
    display: flex;
}

.SettingExplanation {
    font-size: 14px;
    padding: 4px;
    text-align: center;
}

.TeamChoiceContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
}

.TeamChoice{
    height: 32px;
    width: 32px;
    margin: 0px 4px;
    cursor: pointer;
    border-radius: 8px;
}

.TeamChoiceSelected {
    border: 4px solid #0B132B;
    transform: translateY(-4px);
}

.TeamChoice0{Background-color: #F39B6D;}
.TeamChoice1{Background-color: #2978A0;}
.TeamChoice2{Background-color: #BCAB79;}
.TeamChoice3{Background-color: #7785AC;}
.TeamChoice4{Background-color: #C1666B;}
.TeamChoice5{Background-color: #4E6151;}
.TeamChoice6{Background-color: #FFE381;}
.TeamChoice7{Background-color: #9C528B;}

.DifficultyRange{
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #3A506B;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    display: inline-block;
    vertical-align: middle;
}

.DifficultyRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #6fffe9;
    cursor: pointer;
    border-radius: 12px;
  }

.DifficultyRange:hover{
    opacity: 1;
}

.DifficultyContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    padding: 0px 4px;
}

.DifficultyRangeContainer{
    width: 100%;
    padding-left: 8px;
}

.DifficultyNumberContainer{
    display: table;
}

.DifficultyNumber{
    font-size: 28px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0px 24px;
}

.SettingInputContainer{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.SettingInput{
    width: 18px;
    height: 18px;
    accent-color: #6fffe9;
}

.RulePersists[disabled]{
    accent-color: #6fffe9;
}

.LivesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 8px 0px;
}

.Life {
    float: left;
    cursor: pointer;
    padding: 0px 8px;
    height: 32px;
    width: 32px;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.TopContainer {
    height: 180px;
    text-align: center;
    display: flex;
}

.TopLeftFiller{
    width: 33.33333%
}

.TitleContainer {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.TitleContainerInner{
    background: #6fffe9;
    border-radius: 25px;
    padding: 4px 32px;
}
  
.RoundContainer {
    text-align: right;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
}

.GameContainer {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RuleText{
    padding: 8px 16px;
}

.RuleContainer {
    min-width: 250px;
    border: 4px solid #6fffe9;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title {
    color: #0B132B;
    font-size:  96px;
}

.PlayerAndButtonContainer{
    display: flex;
    flex-direction: column;
    margin: 0px 32px;
}

.PlayerButtonContainer{
    width: 32px;
    display: flex;
    flex-direction: column;
    padding: 0px 8px 8px 0px;
    text-align: center;
}

.PlayerButtons{
    display: flex;
    flex-direction: row;
}

.PlayerButton {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    background-color: #1d2541;
}

.PlayerStatusContainer{
    width: 32px;
    display: flex;
    flex-direction: column;
    padding: 0px 8px 8px 0px;
    text-align: center;
}

.PlayerStatuses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    padding: 8px;
}

.PlayerStatus {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: white;
}

.ButtonExplanation{
    font-size: 18px;
    white-space: nowrap;
    position: absolute;
    transform: translateY(-150%) translateX(-50%) translateX(16px);
}

.PlayerButtonEnabled {
    background-color: #6fffe9;
    transition: all .1s linear;
    cursor: pointer;
}

.PlayerCardHeader{
    display: flex;
    flex-direction: row;
    width: 96%;
}

.PlayerLivesContainer{
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-items: right;
}

.PlayerContainer {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.PlayerLobby {
    color:#0B132B;
    padding: 16px;
}

.PlayerIdle {
    color: #1C2541;
}

.PlayerSelected {
    color:#0B132B;
}

.PlayerTemplate {
    width: 400px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid transparent
}

.PlayerTemplateSelected {
    background-color: #6fffe9;
    padding: 0px 12px 24px 12px;
    transition: all .1s linear;
}

.PlayerTemplateIdle {
    background-color: #5BC0BE;
    transition: all .1s linear;
}

.RestartContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.Restart {
    background-color: #6fffe9;
    color: #0B132B;
    margin: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
}

.Restart:hover {
    background-color: #0B132B;
    color: #6fffe9;
    margin: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
}

.ResultContainer {
    background-color: #6fffe9;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-items: center;
    justify-content: center;
    border-radius: 25px;
}

.ScrollablePlaceContainer {
    overflow: hidden;
    width: 100%;
}

.ScrollableText {
    display: inline-block;
    padding-left: 100%;
    animation: ScrollableText 8s linear infinite;
}

@keyframes ScrollableText{
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.WinnerContainer {
    padding: 8px 16px;
}

.ResultText {
    color:#0B132B;
    white-space: nowrap;
    text-align: center;
}

.SinglePlaceContainer{
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 0px 8px
}

.SinglePlaceContainerHighlighted {
    background-color: #adfff3;
}

.ResultingPlaceContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.ResultingPlace {
    margin-right: 16px;
    padding: 4px;
    border-radius: 8px;
    background-color: #3a506b;
    font-size: 24px;
}

.ResultingPlaceOne {
    color: #59CD90;
}

.ResultingPlaceTwo {
    color: #D4B483;
}

.ResultingPlaceThree {
    color: #C1666B;
}

.GuessContainer{
    margin-bottom: 128px;
}

.Guess{
    display: inline-block;
}

.IncorrectGuess{
    color: #C1666B;
}

.IncorrectGuessShake {
    animation: .8s shake alternate;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

.GameButton {
    border-radius: 25px;
    border: 8px solid #6fffe9;
    padding: 16px 32px;
    background: transparent;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
  
.GameButton:hover {
    background-color: #6fffe9;
    color: #0B132B;
}

.StartButtonContainer {
    margin-bottom: 64px;
}

.LetterContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.Letter{
    color: #0B132B;
    width: 48px;
    height: 48px;
    margin: 0px 4px;
    text-align: center;
    font-size: 48px;
    border-radius: 8px;
}

.UnusedLetter{
    background-color: #6fffe9;
}

.UsedLetter {
    background-color: #1d2541;
    transition: all .1s;
}

.HiddenInput {
    opacity:0;
    filter:alpha(opacity=0);
    height: 0px;
    width: 0px;
}

.Hidden {
    display: none;
}
